<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header">
        <ul class="ul-list">
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/login">Login</a></li>
            {{#if logged_in}}
            <li><a id="logout" href="#">Logout</a></li>
            {{/if}}
        </ul>

        {{#if isdashboard}}
        <div class="nav">
            <button id="btn-id">Dashboard</button>
        </div>
        {{else}}
        <div class="nav">
            <button id="btn-id">The Tech Blog</button>
        </div>
        {{/if}}
    </header>

    <main>
        {{{body}}}
    </main>
    {{#if isdashboard}}
    <footer class="foot">
        <button id="btn-id-2" style="">Add a New Post </button>
    </footer>
    {{else}}
    <footer class="foot">
        <button id="btn-id-2">+ Tech Blog </button>
    </footer>
    {{/if}}
    <script src="/js/logout.js"></script>

</body>

</html>