<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header">
        <ul class="ul-list">
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            {{#if isdashboard}}

            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
            <li><a id="logout" href="">Logout</a></li>
        </ul>

        <div class="nav">
            <button id="btn-id">The Tech Blog</button>
        </div>
      
    </header>

    <main>
        {{{body}}}
    </main>
    
    <footer class="foot">
        <button id="btn-id-3">+ Tech Blog </button>
    </footer>
   
    <script src="/js/logout.js"></script>
    {{!-- <script src="/js/addPost.js"></script> --}}

</body>

</html>

{{!-- <a href="/api/posts/newpost"></a> --}}