<div class="content mt-5 ml-5 " style=" border: solid;   width: 800px; height: 274px; ">
    <div class="title" style=" display: block; justify-content: space-between; align-items: center; color: rgb(13, 13, 12);">
        <div style="font-size: 30px; background-color: rgb(112, 66, 66)"> Create New Post </div>
        <form class="login-form" style="background-color: rgb(165, 190, 190); padding-top: 5px; ">
            
            <div class="form-group text" style="margin-left: 20px;">
                <label for="content" class="text-light" style="display: block;  ">Content</label>
                <input class="form-input" type="text" style="width: 700px; padding: 30px ; writing-mode: vertical-rl;" id="new-body" />
            </div>
            <div class="form-group" style="margin-left: 20px; margin-top: 50px;">
                <button class=" btn-primary m-2" id="create-btn"
                type="submit" style="width: 700px
                ; padding: 8px; margin-top: 7px;">Create</button>
            </div>

        </form>
    </div>
</div>