<div class="content mt-5 ml-5 " style=" border: solid;   width: 800px; height: 288px; ">
        <div class="title" style=" display: block; justify-content: space-between; align-items: center; color: rgb(13, 13, 12);">
            <div style="font-size: 30px; background-color: rgb(112, 66, 66)"> Sign Up </div>
            <form class="signup-form" style="background-color: rgb(165, 190, 190); padding-top: 5px">
                <div class="form-group text" style="margin-left: 20px; ">
                    <label for="username" class="text-light" style="display: block; ">Username</label>
                    <input class="form-input" style="width: 700px
                    ; padding: 6px" type="text" id="username-input-signup" />
                </div>
                <div class="form-group text" style="margin-left: 20px;">
                    <label for="password" class="text-light" style="display: block;  ">password</label>
                    <input class="form-input" type="password" style="width: 700px
                    ;padding: 6px" id="password-input-signup" />
                </div>
                <div class="form-group" style="margin-left: 20px;">
                    <button class="btn btn-primary m-2" type="submit" style="width: 700px
                    ; padding: 7px; margin-top: 17px;">Sign Up!</button>
                </div>
                <div>
                    <a  style="color:antiquewhite" href="/login">Login Instead</a>
                </div>
            </form>
        </div>
    </div>
<script src="./js/signup.js"></script>